{% extends "admin/base.html" %}
{% load i18n %}

{% block title %} {% trans 'DEWS' %}{% endblock %}


{% block branding %}
<h1 id="site-name">{% trans 'DEWS Platform' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/cupertino/jquery-ui-1.10.0.custom.min.css">
    <script src="{{ STATIC_URL }}/js/jquery-1.9.0.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/admin/js/actions.js"></script>

    {{ block.super }}
    <script>
        $(function(){

        });
    </script>
{% endblock %}
