{% extends "admin/base_site.html" %}

{% block title %}DEWS | Home{% endblock %}

<!-- LOADING -->
{% load i18n grp_tags log grp_dashboard_tags %}

{% block extrahead %}
{{ block.super }}
<style>
    .g-d-6, .l-2cr-fluid.l-d-6 .c-1 {
        float: left;
        margin-right: 20px;
        width: 320px;
    }   
    .g-d-c, .g-all-c {
        width: 1200px;
    }   
</style>
{% endblock %}


<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                $("article#grp-content .grp-collapse").grp_collapsible();
                $('.grp-row a.grp-link-internal').each(function(index){
                    var uri = $(this).attr('href');
                    var icon = uri.split('/').slice(5,7).join("_")+".png";
                    $(this).prepend($('<img/>',{
                        src : '{{ STATIC_URL }}/images/links/' + icon,
                        style : 'margin-right:4px;'
                        }))
                    });
                $('.grp-row a strong').each(function(index){
                    var uri = $(this).parent('a').attr('href');
                    var icon = uri.split('/').slice(3,5).join("/")+".png";
                    $(this).before($('<img/>',{
                        src : '{{ STATIC_URL }}/images/' + icon,
                        style : 'margin-right:4px;'
                        }))
                    });
            });
        })(grp.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li>{% trans "Home" %}</li>
    </ul>
{% endblock %}
{% block content_title %}{% if title %}<h1>Platform Dashboard</h1>{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
{% grp_render_dashboard %}
{% endblock %}

